<div class='container jumbotron '>
  
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Burger</th>
      <th scope="col">Quantity</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
       {{#each orders }} {{> orders/orders-list this burger_name=burger_name id=id quantity=quantity createdAt=createdAt}}{{/each}}
     
    </tr>
  </tbody>
</table>
  </div>