<li class="list-group-item toEatList rounded">
    {{cashed}}

    <button class="change-devoured float-right mx-2" data-id="{{id}}" data-devour="{{devoured}}">
       Eat Me!<i class="fa fa-cutlery" aria-hidden="true"></i> 
    </button>
</li>